articles/Efficient_and_robust_approximate_nearest_neighbor_search_using_Hierarchical_Navigable_Small_World_graphs_Malkov_2016.pdf filter=lfs diff=lfs merge=lfs -text
articles/ANN-Benchmarks-A_Benchmarking_Tool_for_Approximate_Nearest_Neighbor_Algorithms_Amueller_2018.pdf filter=lfs diff=lfs merge=lfs -text
articles/Approximate_Nearest_Neighbors-Towards_Removing_the_Curse_of_Dimensionality_Indyk_1998 filter=lfs diff=lfs merge=lfs -text
articles/SparTerm-Learning_Term-based_Sparse_Representation_for_Fast_Text_Retrieval_Bai_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/An_Analysis_of_Fusion_Functions_for_Hybrid_Retrieval_Bruch_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/Foundations_of_Vector_Retrieval_Bruch_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/From_distillation_to_hard_negative_sampling-Making_sparse_neural_ir_models_more_effective_Formal_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles/Leveraging_Semantic_and_Lexical_Matching_to_Improve_the_Recall_of_Document_Retrieval_Systems-A_Hybrid_Approach_Kuzi_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/chunking/Is_Semantic_Chunking_Worth_the_Computational_Cost_Qu_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/An_Approximate_Algorithm_for_Maximum_Inner_Product_Search_over_Streaming_Sparse_Vectors_Bruch_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/embeddings/BERT-Pre-training_of_Deep_Bidirectional_Transformers_for_Language_Understanding_Devlin_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles/embeddings/GloVe-Global_Vectors_for_Word_Representation_Pennington_2014.pdf filter=lfs diff=lfs merge=lfs -text
articles/Fast_Passage_Re-ranking_with_Contextualized_Exact_Term_Matching_and_Efficient_Passage_Expansion_Zhuang_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/Learning_Passage_Impacts_for_Inverted_Indexes_Mallia_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/From_Neural_Re-Ranking_to_Neural_Ranking-Learning_a_Sparse_Representation_for_Inverted_Indexing_Zamani_UMassAmherst_2018.pdf filter=lfs diff=lfs merge=lfs -text
articles/Approximate_Nearest_Neighbors-Towards_Removing_the_Curse_of_Dimensionality_Indyk_1998.pdf filter=lfs diff=lfs merge=lfs -text
articles/Relevance_Weighting_In_Search_Terms_Robertson_1976.pdf filter=lfs diff=lfs merge=lfs -text
articles/ann/ filter=lfs diff=lfs merge=lfs -text
articles/indexing/ filter=lfs diff=lfs merge=lfs -text
articles/Poisson_models/Bivariate_Mixed_Poisson_Regression_Models_with_Varying_Dispersion_Tzougas_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/Poisson_models/Distribution_of_The_Ratio_of_Two_Poisson_Random_Variables_Griffin_1992.pdf filter=lfs diff=lfs merge=lfs -text
